$font-primary: Segoe UI;
$body-background: rgba(255, 249, 182, 0.15);
$border-color: rgba(255, 105, 180, 0.9);

$header-height: 40px;
$sidebar-width: 250px;
$dictionary-nav-width: 30px;
$pink: #febacd;