$font-primary: Segoe UI;
$body-background: rgba(255, 249, 182, 0.15);
$border-color: rgba(255, 105, 180, 0.9);

$header-height: 40px;
$sidebar-width: 250px;
$dictionary-nav-width: 30px;
$gutter-size: 7px;
$default-box-shadow-blur: 3px;
$default-box-shadow-color: #000000;

// Colors
$pink: #febacd;